<!-- Slideshow Section - Created by Aki Lamagna 2022-->

<style>
#slideshow-desktop .hcg-slide-container {
	width: auto;
	height: auto;
}
.hcg-slider {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
.hcg-slide-container {
	max-width: 100%;
	display: inline-block;
	position: relative;
}
.hcg-slides {
	display: none;
	text-align: center;
	overflow: hidden;
}
.hcg-slides img {
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	border-radius: 5px;
	border: solid 1px #a0a0a0;
	vertical-align: middle;
}
.hcg-slide-dot-control {
	margin-top: 10px;
	text-align: center;
}
.hcg-slide-dot {
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: none;
}
.hcg-slide-dot.dot-active {
	background-color: #717171;
}

#slideshow-mobile .hcg-slide-container {
	width: auto;
	height: auto;
}

/************CSS Animation***********/

.animated { 
	animation-name: fade; 
	animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.fadeIn {
	animation-name: fade;
}


/* Mobile View */
@media (max-width: 798px) {
	#slideshow-desktop {
    	display: none;
    } 
}

/* Desktop View */
@media (min-width: 799px) {
	#slideshow-mobile {
    	display: none;
    } 
}

</style>


<div id="slideshow-desktop" class="hcg-slider">
<div class="hcg-slide-container">
	<div class="hcg-slider-body">
		<a class="hcg-slides animated" style="display:block">
			<img src="https://cdn.shopify.com/s/files/1/2119/7595/files/Bathpack_Holiday_HP_Hero_Desktop_1.jpg?v=1667925253" alt="Image 2">
		</a>
	</div>
</div>
<div class="hcg-slide-dot-control"></div>
</div>

<div id="slideshow-mobile" class="hcg-slider">
<div class="hcg-slide-container">
	<div class="hcg-slider-body">
		<a class="hcg-slides animated" style="display:block">
			<img src="https://cdn.shopify.com/s/files/1/2119/7595/files/Bathpack_Holiday_HP_Hero_Mobile_1.jpg?v=1667925253" alt="Image 1">
		</a>
	</div>
</div>
<div class="hcg-slide-dot-control"></div>
</div>

<script>
(function(){
//Desktop Script
	let images_list = [
		{"url":"https://cdn.shopify.com/s/files/1/2119/7595/files/Bathpack_Holiday_HP_Hero_Desktop_1.jpg?v=1667925253","name":"Image 2","link":"https://bathpack.com/products/silver-brush-2-0"}
	];

	let slider_id = document.querySelector("#slideshow-desktop");

	// append all images
	let dots_div = "";
	let images_div = "";
	for (let i = 0; i < images_list.length; i++) {
		// if no link without href="" tag
		let href = (images_list[i].link == "" ? "":' href="'+images_list[i].link+'"');
		images_div += '<a'+href+' class="hcg-slides animated"'+(i === 0 ? ' style="display:block"':'')+'>'+
						'<img src="'+images_list[i].url+'" alt="'+images_list[i].name+'">'+
					 '</a>';
		dots_div += '<span class="hcg-slide-dot'+(i === 0 ? ' dot-active':'')+'" data-id="'+i+'"></span>';
	}
	slider_id.querySelector(".hcg-slider-body").innerHTML = images_div;
	slider_id.querySelector(".hcg-slide-dot-control").innerHTML = dots_div;

	let slide_index = 0;

	let images = slider_id.querySelectorAll(".hcg-slides");
	let dots = slider_id.querySelectorAll(".hcg-slide-dot");
	function showSlides() {
		if (slide_index > images.length-1) {
			slide_index = 0;
		}
		if (slide_index < 0) {
			slide_index = images.length-1;
		}
		for (let i = 0; i < images.length; i++) {
			images[i].style.display = "none";
			dots[i].classList.remove("dot-active");
			if (i == slide_index) {
				images[i].style.display = "block";
				dots[i].classList.add("dot-active");
			}
		}
	}

	function dot_click(event) {
		slide_index = event.target.dataset.id;
		showSlides();
	}

	for (let i = 0; i < dots.length; i++) {
		dots[i].addEventListener("click", dot_click, false);
	}
	setInterval(function(){
		slide_index++;
		showSlides();
	}, 5000);

})();
</script>

<script>
(function(){
//Mobile Script
	let images_list = [
    	{"url":"https://cdn.shopify.com/s/files/1/2119/7595/files/Bathpack_Holiday_HP_Hero_Mobile_1.jpg?v=1667925253","name":"Image 1","link":"https://bathpack.com/products/silver-brush-2-0"},
	];

	let slider_id = document.querySelector("#slideshow-mobile");

	// append all images
	let dots_div = "";
	let images_div = "";
	for (let i = 0; i < images_list.length; i++) {
		// if no link without href="" tag
		let href = (images_list[i].link == "" ? "":' href="'+images_list[i].link+'"');
		images_div += '<a'+href+' class="hcg-slides animated"'+(i === 0 ? ' style="display:block"':'')+'>'+
						'<img src="'+images_list[i].url+'" alt="'+images_list[i].name+'">'+
					 '</a>';
		dots_div += '<span class="hcg-slide-dot'+(i === 0 ? ' dot-active':'')+'" data-id="'+i+'"></span>';
	}
	slider_id.querySelector(".hcg-slider-body").innerHTML = images_div;
	slider_id.querySelector(".hcg-slide-dot-control").innerHTML = dots_div;

	let slide_index = 0;

	let images = slider_id.querySelectorAll(".hcg-slides");
	let dots = slider_id.querySelectorAll(".hcg-slide-dot");
	function showSlides() {
		if (slide_index > images.length-1) {
			slide_index = 0;
		}
		if (slide_index < 0) {
			slide_index = images.length-1;
		}
		for (let i = 0; i < images.length; i++) {
			images[i].style.display = "none";
			dots[i].classList.remove("dot-active");
			if (i == slide_index) {
				images[i].style.display = "block";
				dots[i].classList.add("dot-active");
			}
		}
	}

	function dot_click(event) {
		slide_index = event.target.dataset.id;
		showSlides();
	}

	for (let i = 0; i < dots.length; i++) {
		dots[i].addEventListener("click", dot_click, false);
	}
	setInterval(function(){
		slide_index++;
		showSlides();
	}, 5000);

})();
</script>